.page-padding {
    padding-top: 150px;
}

.panel-heading {
    color: #FFFFFF !important;
    background: url('../img/bannermv.png');
    padding: 25px;
    border-bottom: 1px solid transparent;
}

.panel-body-mission {
    padding: 30px;
}

.word-alignment {
    text-align: justify;
}

.panel-body-vision {
    padding: 58px;
}

.p-mission-vision {
    line-height: 2.0;
    word-spacing: 2px;
}

.row-center-box {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
}
