* {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}
/*NAV ITEMS*/
.nav-margin {
  margin-top: 25px;
}

.navbar-inner li {
  line-height: 40px;
  letter-spacing: 2px;
  display: inline-block;
}

.nav-link {
  border-top: 4px solid white;
  transition: border-top .3s;
  color: #558B2F;
}

.nav-link:hover {
  border-bottom: 4px solid #1B5E20;
  color: #1B5E20;
}

/*NAV BRAND*/
.brand {
  letter-spacing: 4px;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  transition: border-top .3s;
  display: inline-block;
}

.brand-name {
  color: #1B5E20;
  display: inline-block;
}

.brand a {
  text-decoration: none;
  color: #558B2F;
}

.brand:hover {
  color: #558B2F;
}

/*HEADER SHADOW BOTTOM OF NAVBAR*/
.header {
  /* remove the gradient */
  border-bottom: 2px solid #558B2F !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}
