@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

a {
  outline: 0 !important;
  text-decoration: none !important;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* NavBar CSS */

.navbar-fixed-top {
    position: fixed !important;
}

.custom-nav-style {
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.2) !important;
  background-color: #FFFFFF;
  margin-bottom: 0 !important;
  border: 0;
}

/* NavBar Links */

.nav-margin {
    margin-top: 35px;
    margin-right: 50px;
}

.navbar-inner > li {
    line-height: 40px;
    letter-spacing: 2px;
    display: inline-block;
}

.nav-link {
    border-top: 4px;
    transition: border-top .3s;
    color: #558B2F !important;
    background-color: #FFFFFF;
}


.nav-link:hover {
    border-bottom: 4px solid #1B5E20;
    color: #1B5E20;
}

.nav > li > a:hover {
  background-color: rgba(238, 238, 238, 0.3) !important;
}

.navbar li.active a {
  background-color: rgba(238, 238, 238, 0.3) !important;
  border-bottom: 4px solid #1B5E20;
}

/* NavBar Logo */

.brand {
    letter-spacing: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    margin-left: 50px;
}

.brand-name {
    color: #1B5E20;
    display: inline-block;
}

.brand > a {
    text-decoration: none;
}



/*Header Shadow Bottom*/

.header {
    /* remove the gradient */
    border-bottom: 2px solid #558B2F !important;
    line-height: 40px !important;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
    background-color: #FFFFFF;
}

/* Home Page */

/* Mission and Vision Page */

.page-padding {
    padding-top: 60;
    padding-top: 60px;
}

.panel-heading {
    color: #FFFFFF !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
}

.panel-heading-background {
  background: url('../img/mv.jpg');
  background-repeat: no-repeat;
}

.panel-heading-background-contact {
  background: url('../img/contact-banner.jpg');
  background-repeat: no-repeat;
}

.panel-heading-background-login {
  background: url('../img/login-banner.jpg');
  background-repeat: no-repeat;
}

.panel-body-mission {
    padding: 30px;
}

.word-alignment {
    text-align: justify;
}

.panel-body-vision {
    padding: 58px;
}

.p-mission-vision {
    line-height: 2.0;
    word-spacing: 2px;
}

.row-center-box {
    margin-right: 0;
    margin-left: 0;
}


/* History Page*/
/* Line in Timeline */

.history-container {
    background-color: #EDEDED;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #558B2F;
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-img.cd-picture {
    background: #81C784;
}


.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #FFFFFF;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #1B5E20;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #303e49;
}

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 4.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: -17px;
        font-size: 16px;
        font-size: 5rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;

    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

/* */

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  margin-left: auto;
  margin-right: auto;
	/* width and height can be anything, as long as they're equal */
}

.event-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	/* width and height can be anything, as long as they're equal */
}

.events {
  background-color: #FAFAFA;
}

.events-space {
  margin-left: 115px;
}

.img-div-set {
  float: left;
}

.section-bottom-space {
  margin-bottom: 30px;
}

/* Partners Section */

.partners-spacing-bottom {
  margin-bottom: 80px;
}

.partners {
  background-color: #FFFFFF;
}

/*NEWSLETTER CSS*/

.newsletter {
    padding: 30px 0 125px 0;
    background: #FAFAFA;
}

.header-section {
    padding: 35px 0 25px 0;
    text-align: center;
}

.center-text-align {
    text-align: center;
}

.center-text-align:focus {
    border-color: #A5D6A7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(200, 230, 201, 0.6) !important;
    text-align: center;
}

/* Contact Page */

.box{
  margin-top: 60px;
  margin-bottom: 40px;
}

textarea {
  resize: none;
}

/* Login Page */

.form-padding {
  padding: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #000;
	border-right: 1px solid rgba(0, 0, 0, 0.6);
}


/*FOOTER CSS */

footer {
    background-color: #558B2F;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
    border-top: 2px solid #558B2F !important;
    box-shadow: 0px 12px 12px 8px rgba(0, 0, 0, 0.2) !important;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 700;
}

.footerleft > p {
    color: #FFFFFF;
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft > p > i {
    width: 20px;
    color: #999;
}

.category-margin  {
    margin-top: 40px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul > li {
    line-height: 29px;
    font-size: 15px;
}

.footer-ul li a {
    color: #FFFFFF;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #DCE775;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.copyright {
    min-height: 40px;
    background-color: #1B5E20;
}

.copyright p {
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.post p {
    font-size: 15px;
    color: #FFFFFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #FFFFFF;
    font-size: 13px;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFFFFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFFFFF;
    font-size: 12px;
}

div.social-btn {
    display: block;
    margin: 0 auto;
}

div.social-btn a{
    text-decoration: none !important;
}

div.social-btn div {
    width: 45px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 50px;
}

div.face, div.twi, div.insta {
    background: #1B5E20;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}

div.face:hover, div.twi:hover, div.insta:hover {
    text-decoration: none;
    background: #558B2F;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

/* Back to top */

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #039BE5;
  color: #eeeeee;
  width: 60px;
  height: 55px;
  line-height: 55px;
  right: 20px;
  bottom: 30px;
  padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #01579B;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}


/*# sourceMappingURL=styles.css.map */
