/* Fonts */

$base-font-family: Futura, "Trebuchet MS", Arial, sans-serif;

/* Colors */

$primary-color: #558B2F;
$secondary-color: #1B5E20;
$white: #FFFFFF;
$light-white: #EDEDED;

/* History Page Colors */
